include README.rst
include AUTHORS
include LICENSE
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include icons *.icns
recursive-include templates *.css
recursive-include templates *.html
recursive-include templates *.js
recursive-include tests *.py
