include README.rst
include AUTHORS
include LICENSE
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include examples *.css
recursive-include examples *.html
recursive-include examples *.md
recursive-include examples *.png
recursive-include icons *.icns
recursive-include src *.css
recursive-include src *.html
recursive-include src *.icns
recursive-include src *.js
recursive-include src *.png
recursive-include src *.woff
recursive-include tests *.py