/*********************************************
 * A default theme for Remarkable slide decks.
 *********************************************/

/************************
 * Basic fonts and layout
 ************************/

.remark-slide-content {
    padding: 1em 6em 1em 6em;
    background-color: #f6f7f1;
    font-family: sans-serif;
    color: #272726;
}

h1, h2, h3 {
    font-weight: normal;
    text-align: center;
}

h1 {
    font-size: 48pt;
}

h2 {
    font-size: 36pt;
}

h3 {
    font-size: 28pt;
}

p {
    font-size: 24pt;
    line-height: 1.4em;
}

li {
    font-size: 24pt;
    line-height: 1.4em;
    margin: 0.4em 0;
}

li p {
    margin: 0.4em 0;
}

pre {
    white-space: pre-wrap;
}

.hljs-default pre code {
    font-size: 24pt;
    font-family: monospace;
    background-color: #f8fbfe;
    border: 1px solid #272726;
}

img {
    display: block;
    max-width: 75%;
    max-height: 75%;
    margin: 0 auto;
}

blockquote p:before {
  color: #7f7f7c;
  content: "“";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.15em;
  vertical-align: -0.35em;
}

blockquote p:after {
  color: #7f7f7c;
  content: "”";
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.15em;
  vertical-align: -0.55em;
}

cite {
    color: #7f7f7c;
    display: block;
    text-align: right;
    margin-top: 1em;
}

/* Quotes in a list don't need as much padding */
li cite {
    margin-top: 0;
}

pre {
    max-width: 100%;
}

.footnotes {
    font-size: 18pt;
    position: absolute;
    bottom: 2em;
    right: 4em;
    width: 80%;
    text-align: right;
}

.footnotes p {
    font-size: 18pt;
    margin: 0.2em 0;
}

.dag1:before {
    content: "†";
}

.dag2:before {
    content: "‡";
}

.dag3:before {
    content: "✣";
}

.dag4:before {
    content: "❉";
}

/*********************/
/* Two column layout */
/*********************/
.left-column {
  width: 45%;
  float: left;
}

.right-column {
  width: 45%;
  float: right;
}

/****************/
/* Title slides */
/****************/

.remark-slide-content.title {
    vertical-align: middle;
}

.title h1 {
    margin: 0.2em;
}

.title h2 {
    font-size: 24pt;
    margin: 0.2em;
    font-weight: normal;
}

.title h3 {
    margin: 0.2em;
    font-weight: normal;
}

/****************/
/* Title slides */
/****************/

.reverse {
  background: #272726;
  color: #f6f7f1;
}
